# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# Platform build directories
android/
ios/
linux/
macos/
web/
windows/

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store
