# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# iOS
example/ios/Pods/
example/ios/.symlinks/

# Android
example/android/.gradle/
example/android/build/
